<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="C:\Users\sunya\OneDrive\Desktop\Finances"/>
	</appSettings>
	<connectionStrings>
		<add name="PersonalFinances" connectionString="Server=JBP-L\MSSQLSERVER01;Database=PersonalFinances;Trusted_Connection=True;"/>
	</connectionStrings>
</configuration>